
<html>
    <head>
        <title> Studentsdetails</title>
        <center><h2>Students Details</h2></center><br>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
          table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
 }
 center{
  color: blueviolet;
 }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #9ec0ea;
      }
        .move{
          padding-left: 25em;
        }
        
  
          a{
            color: white;
          }
       
       
          
      </style>
      
    </head>
    <body>

<form action="{% url 'addData' %}" method="POST">
  
    {% csrf_token %}
    <label>First_name</label>
    <input type="text"  class="form-control"  name="first_name"required>
        
    <label>Last_name</label>
    <input type="text" class="form-control" name="last_name" required>

    <label>Address</label>
    <input type="text" class="form-control" name="address" required>

    <label>Roll_number</label>
    <input type="text" class="form-control" name="roll_number"required>

    <label>Mobile</label>
    <input type="text" class="form-control" name="mobile" required>
   
   <div class="bt"><input type="submit" class="btn btn-primary"value="register"></div>
  <br>
  
    <table class="move">

    
        <tr>
     
<th>S.No</th>
<th>First_name</th>

<th>Last_name</th>

<th>Address</th>

<th>Roll_number</th>

<th>Mobile</th>
<th>Updated</th>
<th>Deleted</th>
</tr>

{% for students in data %}
<tr>
  <td>{{forloop.counter}}</td>

<td>{{ students.first_name}}</td>
<td>{{ students.last_name}}</td>
<td>{{ students.address}}</td>
<td>{{ students.roll_number}}</td>
<td>{{ students.mobile}}</td>
<td><button  type="button" class="btn btn-success"><a  href="{% url 'updated' students.id %}">Update</a></button></td>
<td><button type="button" class="btn btn-danger"><a  href="{% url 'delete' students.id %}">Delete</a></button></td>
</tr>
{% endfor %}
 
</table>

</form>


</body></html>